__pycache__/
*.npz
*.egg-info
.vscode/c_cpp_properties.json
.vscode/settings.json
log/COLCON_IGNORE
log/latest
log/latest_list
log/list_2024-11-15_22-39-05/logger_all.log
*/build/*
*/install/*
*/log/*
T_cam*
recordings/*
cal.yaml